{% import "components/_inputs.html" as inputs %}

{% macro infobox(user_info, title) -%}
    <!--
    Generate an infobox, like in a wikipedia article.

    user_info    A dictionary with the labels as the keys,
                 and the actual info as the values.
    -->

    <div class="box">
        <h2 class="title">
            {{ title }}
        </h2>
        <table>
            {% for label, data in user_info.items() %}
                <tr>
                    <td class="has-right-padding">
                        <strong>{{ label }}</strong>
                    </td>
                    <td>
                        {% if data is sameas False or data is sameas True %}
                            {% if data %}
                                <i class="fas fa-check-circle"></i>
                            {% else %}
                                <i class="fas fa-times-circle"></i>
                            {% endif %}
                        {% else %}
                            {{ data }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{%- endmacro %}

{% macro delete_modal(delete_url, model_name, custom_text=None) -%}
    <!--
    Generate a delete modal. We'll use this modal to confirm if
    the user really wants to delete a model whenever they press
    the delete button inside of a ListView, DetailView or EditView.

    This is activated by using js to add the is-active class to the div.modal.

    delete_url   Where should the confirmation button send the post request?

    model_name   Which model are we asking if we should delete?

    custom_text  This optional parameter, if provided, will replace the default
                 confirmation text in the body of the modal.
    -->

    <div class="modal" id="delete-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <article class="message is-danger">
                <div class="message-body">
                    <div class="columns">

                        <!-- The text displayed to the user -->
                        <div class="column">
                            {% if custom_text %}
                                {{ custom_text }}
                            {% else %}
                                Are you sure you want to permanently delete {{ model_name }}?
                            {% endif %}
                        </div>

                        <!-- Buttons -->
                        <div class="column">
                            <!-- Delete button -->
                            {{
                                inputs.button(
                                    label="Delete",
                                    href="A REAL PLACE",
                                    type="is-danger",
                                    is_pulled_right=True,
                                    has_margin_left=True
                                )
                            }}

                            <!-- Cancel button -->
                            {{
                                inputs.button(
                                    label="Cancel",
                                    custom_classes=["modal-cancel"],
                                    type="is-dark",
                                    is_pulled_right=True
                                )
                            }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

{%- endmacro %}