<!-- Input macros -->
{% macro switch(id, label, checked=None, is_pulled_right=False) -%}
    {% if is_pulled_right %}
        <div class="field is-pulled-right">
    {% else %}
        <div class="field">
    {% endif %}
            <input
                    id="{{ id }}"
                    type="checkbox"
                    class="switch is-rounded is-success is-rtl"
                    {% if checked %}
                        checked="{{ checked }}"
                    {% endif %}
            >
            <label for="{{ id }}">
                {{ label }}
            </label>
        </div>
{%- endmacro %}


{% macro field(label, type="text", placeholder=None, value=None, icon=None, disabled=False) -%}
    <div class="field">
        <label class="label">{{ label }}</label>
        {% if icon %}
            <p class="control has-icons-left">
        {% else %}
            <p class="control">
        {% endif %}
                <input
                        class="input"
                        type="{{ type }}"

                        {% if placeholder %}
                            placeholder="{{ placeholder }}"
                        {% endif %}

                        {% if value %}
                            value="{{ value }}"
                        {% endif %}

                        {% if disabled %}
                            disabled
                        {% endif %}
                >
                {% if icon %}
                    <span class="icon is-small is-left">
                        <i class="fas {{ icon }}"></i>
                    </span>
                {% endif %}
            </p>
    </div>
{%- endmacro %}


{% macro button(label, type, custom_classes=[], href="#", id=None,
                is_pulled_left=False, is_pulled_right=False,
                has_margin_left=False) -%}

    <a href={{ href }}>
        <button
            class="
                button

                {{ type }}

                {% if is_pulled_right %}
                    is-pulled-right
                {% elif is_pulled_left %}
                    is-pulled-left
                {% endif %}

                {% if has_margin_left %}
                    has-margin-left
                {% endif %}

                {% for class in custom_classes %}
                    {{ class }}
                {% endfor %}
            "
            {% if id %}
                id={{ id }}
            {% endif %}
        >
            {{ label }}
        </button>
    </a>
{%- endmacro %}