[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
requests = "*"
psycopg2-binary = "*"
django = "*"
django-crispy-forms = "*"
django-hosts = "*"
pillow = "*"
mailer = "*"
whitenoise = "*"
yagmail = "*"

[dev-packages]
"flake8" = "*"
"flake8-import-order" = "*"
"coverage" = "*"

[requires]
python_version = "3.6"

[scripts]
start          = "gunicorn --preload -w 12 -b 0.0.0.0:10013 portal.wsgi"
lint           = "python -m flake8"
makemigrations = "python manage.py makemigrations"
showmigrations = "python manage.py showmigrations"
createapp      = "python manage.py startapp"
migrate        = "python manage.py migrate"
test           = "python manage.py test"
collectstatic  = "python manage.py collectstatic --noinput"
clean          = "rm -rf __pycache__ htmlcov .coverage .pytest_cache"
build          = "docker build -t heavysaturn/transport-portal:latest -f docker/Dockerfile ."
push           = "docker push heavysaturn/transport-portal:latest"
buildbase      = "docker build -t heavysaturn/transport-portal-base:latest -f docker/Dockerfile.base ."
pushbase       = "docker push heavysaturn/transport-portal-base:latest"
