{%  load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}title{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import FontAwesome and Bootstrap4 for styling -->
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous"
        >
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css"
        >
        <link
                rel="stylesheet"
                href="{% static "css/forms.css" %}"
        >
        <script
                defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
        ></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"
        ></script>

        {% block head %}{% endblock %}

        <!-- Favicon section -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "favicons/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "favicons/safari-pinned-tab.svg"%}" color="#e4a432">
        <link rel="shortcut icon" href="{% static "favicons/favicon.ico"%}">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-config" content="{% static "favicons/browserconfig.xml"%}">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>

       <div id="container">
            <div class="img-fluid text-center">
                <img style="max-width: 200px" src="{% static "img/logos/kpmtransport_black.png" %}">
            </div>
            <div class="text-center">
                <strong>{% block form_name %}Some sort of form{% endblock %}</strong>
            </div>
            <hr style="margin-top:0px">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert mx-3 alert-{{ message.tags }}" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="mx-3">
                {% block content %}{% endblock %}
            </div>

        </div>
    </body>
</html>
