<html>
<head>
    <!-- nothing in the head. because the page is stupid. it's headless. -->
</head>
<body>
    <h1>john was afraid</h1>

    <img src="http://bestanimations.com/Site/Construction/under-construction-animated-gif-10.gif" />
    <img src="http://bestanimations.com/Site/Construction/under-construction-animated-gif-16.gif" />
    <br>
    <img src="http://bestanimations.com/Site/Construction/under-construction-gif-4.gif" />
    <img src="http://bestanimations.com/Site/Construction/under-construction-gif-7.gif" />
    <img src="http://bestanimations.com/Site/Construction/MenAtWork-08-june.gif" />
    <br>
    <img src="http://bestanimations.com/Site/Construction/Construction-16-june.gif" />
    <img src="http://bestanimations.com/Site/Construction/Construction-07-june.gif" />
    <img src="http://bestanimations.com/Site/Construction/Construction-09-june.gif" />
    <img src="http://bestanimations.com/Site/Construction/Construction-21-june.gif" />
</body>

</html>