{% extends "base.html" %}

{% block title %}
    Work in progress, guy!
{% endblock %}

{% block body %}

    <!-- Navbar -->
    <nav class="navbar is-primary">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="#" style="font-weight:bold;">
                    testnav
                </a>
                <span class="navbar-burger burger" data-target="navMenu">
                </span>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a href="#" class="navbar-item is-active">Admin</a>
                    <a href="#" class="navbar-item">Trucks</a>
                    <a href="#" class="navbar-item">Employees</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main body -->
    <section>
        <div style="margin: 5% auto 0 auto; width: 20%;">
            <img src="https://cdn.dribbble.com/users/933282/screenshots/2212607/bob_head.jpg">
        </div>
    </section>
{% endblock %}
