{% extends "_base.html" %}

{% block title %}
{% endblock %}

{% block body %}

    <!-- Navbar -->
    {% include "components/_navbar.html" %}

    <!-- Button for creating a new item -->
    <div class="container buttons-above-table">
        <a
            href="{% block new_model_url %}#{% endblock %}"
            class="button is-success"
        >
            {% block new_model_text %}
            {% endblock %}
        </a>
    </div>

    <div class="container">
        <table class="
            table
            is-bordered
            is-striped
            is-fullwidth
            is-hoverable
            has-pointer
            is-model-list
        ">
            {% block table_data %}
            {% endblock %}
        </table>
    </div>
{% endblock %}
