{% extends "_base.html" %}
{% import "_macros.html" as macros %}

{% block title %}
    Users
{% endblock %}

{% block body %}

    <!-- Navbar -->
    {{ macros.navbar(current_page) }}

    <div class="container buttons-above-table">
        <a class="button is-success">
            + New user
        </a>
    </div>

    <div class="container">
        <table class="table is-bordered is-striped is-fullwidth is-hoverable has-pointer">
            <tr>
                <th class="is-hidden">ID</th>
                <th>Email</th>
                <th>Group</th>
                <th>Active</th>
                <th>Confirmed at</th>
                <th>Roles</th>
            </tr>

            {% for user in users %}
                <a href="/users/{{ user.id }}">
                    <tr>
                        <td class="is-hidden">{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.group }}</td>
                        <td>{{ user.active }}</td>
                        <td>{{ user.confirmed_at }}</td>
                        <td>{{ user.roles }}</td>
                    </tr>
                </a>
            {% endfor %}
        </table>
    </div>

{% endblock %}
