{% extends "components/_edit_view.html" %}

{% block title %}
    New user
{% endblock %}

{% block headline %}
    New user
{% endblock %}

{% block input_fields %}

    <!-- Active -->
    <div class="field is-pulled-right">
        <input
                id="user-active"
                type="checkbox"
                class="switch is-rounded is-success"
        >
        <label for="user-active">
            Active
        </label>
    </div>

    <!-- Email -->
    <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left">
            <input
                    class="input"
                    type="email"
                    placeholder="name@email.com"
            >
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>

    <!-- Password -->
    <div class="field">
        <label class="label">Password</label>
        <p class="control has-icons-left">
            <input
                    class="input"
                    type="password"
            >
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </p>
    </div>

    <!-- Group -->
    <div class="field">
        <label class="label">Group</label>
        <p class="control has-icons-left">
            <input
                    class="input"
                    type="text"
                    placeholder="kpm_transport"
            >
            <span class="icon is-small is-left">
                <i class="fas fa-users"></i>
            </span>
        </p>
    </div>

    <!-- Buttons -->
    <div class="control has-top-space">
        <button class="button is-success is-pulled-right is-spaced">Save</button>
        <button class="button is-dark is-pulled-right">Cancel</button>
    </div>


{% endblock %}
