{% extends "components/_edit_view.html" %}
{% import "components/_inputs.html" as inputs %}

{% block title %}
    Edit user
{% endblock %}

{% block headline %}
    Edit user: {{ user.email }}
{% endblock %}

{% block input_fields %}

    <!-- Active -->
    {{
        inputs.switch(
            id="user-active",
            label="Active",
            checked=user.active,
            is_pulled_right=True
        )
    }}

    <!-- Email -->
    {{
        inputs.field(
            label="Email",
            type="email",
            placeholder="name@email.com",
            value=user.email,
            icon="fa-envelope"
        )
    }}

    <!-- Group -->
    {{
        inputs.field(
            label="Group",
            type="text",
            placeholder="kpm_transport",
            value=user.group,
            icon="fa-users"
        )
    }}

    <!-- Confirmed at -->
    {{
        inputs.field(
            label="Confirmed at",
            type="text",
            value=user.confirmed_at,
            icon="fa-clock",
            disabled=True
        )
    }}

    <!-- Buttons -->
    {{
        inputs.buttons(
            delete=True,
            save=True,
            cancel=True
        )
    }}


{% endblock %}
