// boldable navbar links
a.navbar-item.is-bold {
  font-weight: bold;
}

// Spacing for the + New Model button containers
div.container.buttons-above-table {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

// When hovering table, show pointer instead of cursor
table.table.has-pointer {
  cursor: pointer;
}

// top space for columns and controls
div.columns.has-top-space,
div.control.has-top-space {
  margin-top: 1.5em;
}

// spacing between buttons
button.button.is-spaced {
  margin-left: 0.5em;
}

// right margin for labels of rounded switches if pulled right
div.is-pulled-right input.switch.is-rounded + label {
  margin-right: 5px;
}