{% extends "components/model_views/_edit.html" %}
{% import "components/_inputs.html" as inputs %}

{% block title %}
    Edit user
{% endblock %}

{% block headline %}
    Edit user: {{ user.email }}
{% endblock %}

{% block input_fields %}

    <form action="#" method="POST" name="register_user_form">

        <!-- Active -->
        {{
            inputs.switch(
                id="user-active",
                label="Active",
                checked=user.active,
                is_pulled_right=True
            )
        }}

        <!-- Email -->
        {{
            inputs.field(
                label="Email",
                type="email",
                placeholder="name@email.com",
                value=user.email,
                icon="fa-envelope"
            )
        }}

        <!-- Group -->
        {{
            inputs.field(
                label="Group",
                type="text",
                placeholder="kpm_transport",
                value=user.group,
                icon="fa-users"
            )
        }}

        <!-- Confirmed at -->
        {{
            inputs.field(
                label="Confirmed at",
                type="text",
                value=user.confirmed_at,
                icon="fa-clock",
                disabled=True
            )
        }}

        <!-- Buttons -->
        <div class="control has-top-space">

            <!-- Delete button -->
            {{
                inputs.button(
                    label="Delete",
                    style="is-danger",
                    is_pulled_left=True
                )
            }}

            <!-- Save button -->
            {{
                inputs.button(
                    label="Save",
                    type="submit",
                    style="is-success",
                    is_pulled_right=True,
                    has_margin_left=True
                )
            }}


            <!-- Cancel button -->
            {{
                inputs.button(
                    label="Cancel",
                    href=url_for("admin.user/list"),
                    style="is-dark",
                    is_pulled_right=True
                )
            }}

        </div>
    </form>


{% endblock %}
