{% extends "components/model_views/_edit.html" %}
{% import "components/_inputs.html" as inputs %}

{% block title %}
    New user
{% endblock %}

{% block headline %}
    New user
{% endblock %}

{% block input_fields %}

    <!-- Active -->
    {{
        inputs.switch(
            id="user-active",
            label="Active",
            is_pulled_right=True
        )
    }}

    <!-- Email -->
    {{
        inputs.field(
            label="Email",
            type="email",
            placeholder="name@email.com",
            icon="fa-envelope",
            error=email_error
        )
    }}

    <!-- Password -->
    {{
        inputs.field(
            label="Password",
            type="password",
            icon="fa-lock",
            error=password_error
        )
    }}

    <!-- Group -->
    {{
        inputs.field(
            label="Group",
            type="text",
            placeholder="kpm_transport",
            icon="fa-users"
        )
    }}

    <!-- Buttons -->
    <div class="control has-top-space">

        <!-- Save button -->
        {{
            inputs.button(
                label="Save",
                href="#",
                type="is-success",
                is_pulled_right=True,
                has_margin_left=True
            )
        }}


        <!-- Cancel button -->
        {{
            inputs.button(
                label="Cancel",
                href=url_for("admin.user/list"),
                type="is-dark",
                is_pulled_right=True
            )
        }}

    </div>


{% endblock %}
