{% extends "components/model_views/_edit.html" %}
{% import "components/_inputs.html" as inputs %}

{% block title %}
    New user
{% endblock %}

{% block headline %}
    New user
{% endblock %}

{% block input_fields %}

    <!-- Active -->
    <div class="field is-pulled-right">
        <input
                id="user-active"
                type="checkbox"
                class="switch is-rounded is-success"
        >
        <label for="user-active">
            Active
        </label>
    </div>

    <!-- Email -->
    <div class="field">
        <label class="label">Email</label>
        <p class="control has-icons-left">
            <input
                    class="input"
                    type="email"
                    placeholder="name@email.com"
            >
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>

    <!-- Password -->
    <div class="field">
        <label class="label">Password</label>
        <p class="control has-icons-left">
            <input
                    class="input"
                    type="password"
            >
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </p>
    </div>

    <!-- Group -->
    <div class="field">
        <label class="label">Group</label>
        <p class="control has-icons-left">
            <input
                    class="input"
                    type="text"
                    placeholder="kpm_transport"
            >
            <span class="icon is-small is-left">
                <i class="fas fa-users"></i>
            </span>
        </p>
    </div>

    <!-- Buttons -->
    <div class="control has-top-space">

        <!-- Save button -->
        {{
            inputs.button(
                label="Save",
                href="#",
                type="is-success",
                is_pulled_right=True,
                has_margin_left=True
            )
        }}


        <!-- Cancel button -->
        {{
            inputs.button(
                label="Cancel",
                href=url_for("admin.user/list"),
                type="is-dark",
                is_pulled_right=True
            )
        }}

    </div>


{% endblock %}
