{% extends "base.html" %}

{% block title %}
    Work in progress, guy!
{% endblock %}

{% block user_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/style.css') }}"/>
{% endblock %}

{% block body %}
    <section class="hero is-kpm-orange is-medium is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    I'm walkin here!
                </h1>
                <h2 class="subtitle">
                    fuggeddaboudit!
                </h2>
            </div>
        </div>
    </section>
{% endblock %}
